<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Base de experiencia</title>
    <link rel="stylesheet" href="../CSS/container.css" type="text/css" />
  </head>
  <body>
    <div id="tipos_pokemon">
      <% arreglo.forEach(item => {%>
      <div class="tipos">
        <label> <img src=<%= item.image%> /> </label>
        <p><%= item.name%></p>
        <p><%= item.base_experience%></p>
      </div>
      <% }) %>
    </div>
  </body>
</html>
